{
  "openapi": "3.1.0",
  "info": {
    "title": "EquiLedger API",
    "version": "1.0.0",
    "description": "A comprehensive API for EquiLedger, a financial records management system. This API provides endpoints for user authentication, record management, and dashboard analytics.",
    "contact": {
      "name": "EquiLedger Support",
      "email": "thefauxpastrouper120@gmail.com",
      "url": "https://thefauxpastrouper.online/"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://testapi.thefauxpastrouper.xyz",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and user registration endpoints"
    },
    {
      "name": "Users",
      "description": "User management operations (Admin only)"
    },
    {
      "name": "Records",
      "description": "Financial record CRUD operations and filtering"
    },
    {
      "name": "Dashboard",
      "description": "Analytical statistics and financial overview"
    }
  ],
  "externalDocs": {
    "description": "EquiLedger Raw API Documentation",
    "url": "https://testapi.thefauxpastrouper.xyz/openapi.json"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "SignupRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "adityakumar@gmail.com",
            "description": "Email id of the user"
          },
          "password": {
            "type": "string",
            "minLength": 6,
            "maxLength": 100,
            "example": "random123",
            "description": "Password of the user for this backend"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "SigninRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "adityakumar@gmail.com",
            "description": "Email id of the user"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "example": "random123",
            "description": "Password of the user for this backend"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "CreateUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "adityakumar@gmail.com",
            "description": "Email id of the user"
          },
          "password": {
            "type": "string",
            "minLength": 6,
            "maxLength": 100,
            "example": "random123",
            "description": "Password of the user"
          },
          "role": {
            "type": "string",
            "enum": [
              "ADMIN",
              "ANALYST",
              "VIEWER"
            ],
            "example": "ADMIN",
            "description": "Role that is to be assigned to the user"
          },
          "isActive": {
            "type": "boolean",
            "example": "true",
            "description": "Provides soft delete functionality to admin"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "ADMIN",
              "ANALYST",
              "VIEWER"
            ],
            "example": "ADMIN",
            "description": "Role that is to be assigned to the user"
          },
          "isActive": {
            "type": "boolean",
            "example": "true",
            "description": "Provides soft delete functionality to admin"
          }
        }
      },
      "CreateRecordRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 100.5,
            "description": "Amount for a particular record like EXPENSE or INCOME"
          },
          "type": {
            "type": "string",
            "enum": [
              "INCOME",
              "EXPENSE"
            ],
            "example": "EXPENSE",
            "description": "Type of transaction (INCOME or EXPENSE)"
          },
          "category": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Food",
            "description": "Category of the transaction"
          },
          "date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2024-03-20T00:00:00Z",
            "description": "Date of the transaction"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Lunch at office",
            "description": "Optional description of the transaction"
          }
        },
        "required": [
          "amount",
          "type",
          "category"
        ]
      },
      "UpdateRecordRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 100.5,
            "description": "Amount for a particular record like EXPENSE or INCOME"
          },
          "type": {
            "type": "string",
            "enum": [
              "INCOME",
              "EXPENSE"
            ],
            "example": "EXPENSE",
            "description": "Type of transaction (INCOME or EXPENSE)"
          },
          "category": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Food",
            "description": "Category of the transaction"
          },
          "date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2024-03-20T00:00:00Z",
            "description": "Date of the transaction"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Lunch at office",
            "description": "Optional description of the transaction"
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/auth/signup": {
      "post": {
        "summary": "Register a new user",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/auth/signin": {
      "post": {
        "summary": "Authenticate user and get token",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SigninRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/users": {
      "post": {
        "summary": "Create a new user (Admin only)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "summary": "List all users (Admin only)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of users"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/users/{id}": {
      "patch": {
        "summary": "Update user status or role (Admin only)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "description": "Unique identifier (UUID) of the record"
            },
            "required": true,
            "description": "Unique identifier (UUID) of the record",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          }
        }
      }
    },
    "/api/v1/records": {
      "get": {
        "summary": "List financial records with filters",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "example": 1,
              "description": "Page number for pagination"
            },
            "required": false,
            "description": "Page number for pagination",
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 100,
              "default": 10,
              "example": 10,
              "description": "Number of records per page"
            },
            "required": false,
            "description": "Number of records per page",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "food",
              "description": "Search query for category or description"
            },
            "required": false,
            "description": "Search query for category or description",
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "INCOME",
                "EXPENSE"
              ],
              "example": "EXPENSE",
              "description": "Filter by record type"
            },
            "required": false,
            "description": "Filter by record type",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "Rent",
              "description": "Filter by category"
            },
            "required": false,
            "description": "Filter by category",
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "nullable": true,
              "format": "date-time",
              "example": "2024-01-01T00:00:00Z",
              "description": "Filter by start date"
            },
            "required": false,
            "description": "Filter by start date",
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "nullable": true,
              "format": "date-time",
              "example": "2024-12-31T23:59:59Z",
              "description": "Filter by end date"
            },
            "required": false,
            "description": "Filter by end date",
            "name": "endDate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records"
          }
        }
      },
      "post": {
        "summary": "Create a new financial record",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecordRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created"
          }
        }
      }
    },
    "/api/v1/records/{id}": {
      "get": {
        "summary": "Get record by ID",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "description": "Unique identifier (UUID) of the record"
            },
            "required": true,
            "description": "Unique identifier (UUID) of the record",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Record details"
          }
        }
      },
      "put": {
        "summary": "Update a financial record",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "description": "Unique identifier (UUID) of the record"
            },
            "required": true,
            "description": "Unique identifier (UUID) of the record",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated"
          }
        }
      },
      "delete": {
        "summary": "Delete a financial record",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "description": "Unique identifier (UUID) of the record"
            },
            "required": true,
            "description": "Unique identifier (UUID) of the record",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Record deleted"
          }
        }
      }
    },
    "/api/v1/dashboard/overview": {
      "get": {
        "summary": "Get dashboard overview statistics",
        "tags": [
          "Dashboard"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Overview data"
          }
        }
      }
    },
    "/api/v1/dashboard/summary": {
      "get": {
        "summary": "Get financial summary (Total income vs expense)",
        "tags": [
          "Dashboard"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Summary data"
          }
        }
      }
    },
    "/api/v1/dashboard/categories": {
      "get": {
        "summary": "Get totals by category",
        "tags": [
          "Dashboard"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Category breakdown"
          }
        }
      }
    },
    "/api/v1/dashboard/trends/monthly": {
      "get": {
        "summary": "Get monthly financial trends",
        "tags": [
          "Dashboard"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 24,
              "default": 6,
              "example": 6,
              "description": "Number of months to include in the dashboard data"
            },
            "required": false,
            "description": "Number of months to include in the dashboard data",
            "name": "months",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 52,
              "default": 4,
              "example": 4,
              "description": "Number of weeks to include in the dashboard data"
            },
            "required": false,
            "description": "Number of weeks to include in the dashboard data",
            "name": "weeks",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 5,
              "example": 5,
              "description": "Limit the number of records returned"
            },
            "required": false,
            "description": "Limit the number of records returned",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Monthly trend data"
          }
        }
      }
    },
    "/api/v1/dashboard/trends/weekly": {
      "get": {
        "summary": "Get weekly financial trends",
        "tags": [
          "Dashboard"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 24,
              "default": 6,
              "example": 6,
              "description": "Number of months to include in the dashboard data"
            },
            "required": false,
            "description": "Number of months to include in the dashboard data",
            "name": "months",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 52,
              "default": 4,
              "example": 4,
              "description": "Number of weeks to include in the dashboard data"
            },
            "required": false,
            "description": "Number of weeks to include in the dashboard data",
            "name": "weeks",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 5,
              "example": 5,
              "description": "Limit the number of records returned"
            },
            "required": false,
            "description": "Limit the number of records returned",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Weekly trend data"
          }
        }
      }
    },
    "/api/v1/dashboard/recent": {
      "get": {
        "summary": "Get recent financial activities",
        "tags": [
          "Dashboard"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 24,
              "default": 6,
              "example": 6,
              "description": "Number of months to include in the dashboard data"
            },
            "required": false,
            "description": "Number of months to include in the dashboard data",
            "name": "months",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 52,
              "default": 4,
              "example": 4,
              "description": "Number of weeks to include in the dashboard data"
            },
            "required": false,
            "description": "Number of weeks to include in the dashboard data",
            "name": "weeks",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 5,
              "example": 5,
              "description": "Limit the number of records returned"
            },
            "required": false,
            "description": "Limit the number of records returned",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent activities"
          }
        }
      }
    }
  }
}